<h1>Edit Task</h1>

<%= link_to("<< Back to List", task_list_path, :class => 'back-link') %>

<div class="task edit">
  <h2>Edit task</h2>

  <%= form_for(@task) do |f| %>
    <table>
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= f.text_field(:description) %></td>
      </tr>
      <tr>
        <th>Deadline</th>
        <td><%= f.date_field(:deadline, min: Time.now) %></td>
      </tr>
      <tr>
        <th>Done</th>
        <td><%= f.check_box(:done) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Edit Task") %>
    </div>
  <% end %>
</div>
