<h1>Create new user account</h1>

<%= form_for(@user) do |f| %>
  <table>
    <tr>
      <th>Email</th>
      <td><%= f.text_field(:email) %></td>
    </tr>
    <tr>
      <th>Password</th>
      <td><%= f.text_field(:password) %></td>
    </tr>
  </table>

  <div class="form-buttons">
    <%= f.submit("Create account") %>
  </div>

  <%= link_to("Already have an account?", login_path) %>
<% end %>