<h1>Task list's detail</h1>

<%= link_to("<< Back to lists", task_lists_path, :class => 'back-link') %>

<p> <%= link_to('Edit list', edit_task_list_path(@task_list.id)) %></p>

<div class="list show">
  <h2><%= @task_list.name %> list detail</h2>
  <table>
    <caption><h3>Task list</h3></caption>
    <% @tasks.each do |task| %>
    <tr>
      <tr>
        <td><b>Name: </b></td>
        <td><%= task.name %></td>
      </tr>
      <tr>
        <td><b>Description: </b></td>
        <td><%= task.description %></td>
      </tr>
      <tr>
        <td><b>Deadline: </b></td>
        <td><%= task.deadline.strftime('%d %B %Y') %></td>
      </tr>
      <tr>
        <td><b>Done: </b></td>
        <td><%= task.done ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
        <td><%= link_to('Edit task', edit_task_path(task)) %></td>
      </tr>
    </tr>
    <% end %>
  </table>
</div>


